body {
	width: 99%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin: 0.5%;
	
	font-family: arial;
	color: white;
	background-color: #0F4020;
}

.periodo {
	display: grid;
	grid-template-columns: 25px max-content;
	align-items: center;
	
	margin: 0.6% 1%;
	border: 1px dashed #56A689;
	padding: 1% 0.5%;
	
	font-size: 0.8rem;
}

input {
	width: 80%;
	background-color: #D98F89;
}

button {
	width: 10%;
	margin: auto 0;
}