body {
	width: 99%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin: 0.5%;
	
	font-family: arial;
	color: black;
	background-color: #8BCAD9;
}

.periodo {
	display: grid;
	grid-template-columns: 25px max-content;
	align-items: center;
	
	margin: 0.5%;
	border: 2px double #F26699;
	padding: 1% 0.5%;
	
	font-size: 78%;
	background-color: #F2F2F2;
}

input {
	width: 80%;
	background-color: #D98F89;
}

button {
	width: 20%;
	margin: auto 0;
	border: 2px double #F2BDD0;
	background-color: #F26699;
	color: #fff;
}

@media (max-width: 600px) {

	.periodo {
		width: 80%;
	}
}